.main-1 {
    width: 100%;
    height: 200px;
    background-color: rgb(221, 214, 203);
    text-align: center;
    font-size: 1.9rem;
    font-weight: 500;
}

.main-1 .container-fluid .row ul li {
    margin-top: 7%;
    list-style: none;
}

.main-1 .container-fluid .row ul li a {
    color: rgb(19, 211, 19);
    font-weight: 700;
}

.main-2 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-2 .container .row .col-lg-3 {
    order: 2;
}

.main-2 .container .row .col-lg-3 ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
}

.main-2 .col-lg-3 ul li {
    margin-bottom: 10px;
}

.main-2 .col-lg-3 ul li h4 {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(206, 204, 204);
}

.main-2 .col-lg-3 ul li a {
    color: rgb(75, 75, 75);
    font-size: 1.4rem;
    text-decoration: none;
}

.main-2 .col-lg-3 ul li a:hover {
    color: rgb(10, 99, 10);
}

.list-1 {
    display: flex;
    font-size: 1.4rem;
}

.list-1 span ul {
    padding-left: 0;
}

.list-1 span img {
    height: 60px;
    width: 80px;
}

.list-1 span ul li h5 {
    font-weight: 700;
    color: rgb(75, 75, 75);
    cursor: pointer;
}

.list-1 span ul li h5:hover{
    color: rgb(10, 99, 10);
}

.main-2 .col-lg-3 .list-tag {
    justify-content: space-around;
}

.list-tag h4 {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(206, 204, 204);
}

.main-2 .col-lg-3 .list-tag span{
    padding: 1px 10px;
    font-size: 1.4rem;
    border: 1px solid rgb(206, 202, 202);
    cursor: pointer;
    line-height: 30px;
}

.items {
    display: flex;
    font-size: 1.6rem;
    margin-bottom: 40px;
    padding-top: 20px;
}

.items {
    border: 1px solid rgb(207, 195, 195);
}

.items ul li img {
    height: 220px;
    width: 250px;
}

.items ul li {
    display: flex;
    margin-bottom: 15px;
}

.items ul li h4 {
    font-size: 3rem;
}

.items ul li h5 {
    font-size: 1.8rem;
    color: rgb(119, 115, 115);
}

.items ul li span {
    display: flex;
    margin-right: 20px;
}

.items ul li span i {
    margin-right: 5px;
    font-size: 2rem;
}

.items ul li button {
    padding: 10px 40px;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    background-color: rgb(41, 41, 41);
}

.items ul li button:hover {
    background-color: rgb(8, 51, 8);
}

.number {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.number span {
    margin-left: 10px;
}

.number .btn {
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .items ul li h4 {
        font-size: 2.5rem;
    }

    .items ul li h5 {
        font-size: 1.8rem;
    }

    .items ul li img {
        height: 160px;
        width: 160px;
    }

    .items {
        font-size: 1.4rem;
    }

    .items ul {
        padding-left: 10px;
    }

    .col-lg-9 {
        padding: 0;
    }

    .main-2 .container .row .col-lg-3 {
        order: 2;
    }

    .main-2 .container .row .col-lg-9 {
        order: 1;
    }

}

@media (max-width: 390px) {
    .items ul li h5 {
        font-size: 1.4rem;
        font-weight: 700;
    }

    .col-lg-9 {
        margin-bottom: 40px;
    }
}