.main-one {
    width: 100%;
    height: 700px;
}

.main-one ul {
    width: 400px;
    list-style: none;
    margin-left: 200px;
    padding-top: 200px;
}

.main-one h5 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.main-one h4 {
    font-weight: 400;
}

.main-one p {
    font-size: 2.3rem;
}

.main-one button {
    font-weight: 700;
    font-size: 1.6rem;
    padding: 10px 30px;
    background-color: black;
    color: #fff;
    border-radius: 18px;
    margin-top: 40px;
}

.slide-1 {
    width: 100%;
    height: 100%;
    background-image: url(../assets/banner/hero-home-1-img-1.jpg);
    background-size: cover;
    background-position: center;
    display: none;
}

.slide-2 {
    width: 100%;
    height: 100%;
    background-image: url(../assets/banner/hero-home-1-img-2.jpg);
    background-size: cover;
    background-position: center;
    display: none;
}

.active {
    display: block;
}

#node {
    display: flex;
    position: absolute;
    bottom: -167px;
    width: 100%;
    justify-content: center;
}
.node-list {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin-left: 10px;
}

.node-active {
    background-color: rgb(18, 160, 13);
}

.Categories {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(214, 198, 198);
}

.Categories h4 {
    font-weight: 500;
}

.Categories button {
    height: 3.8rem;
    font-size: 1.2rem;
    color: rgb(42, 128, 42);
    padding: 5px 20px;
    border: 1px solid rgb(126, 204, 126);
    border-radius: 18px;
    background-color: #fff;
}

.Categories div {
    height: 60px;
    display: flex;
    font-size: 1.8rem;
    line-height: 60px;
}

.Categories div span {
    margin-right: 20px;  
}

.Categories div span a {
    text-decoration: none;
    color: rgb(129, 129, 129);
}

.Categories div span a:hover {
    color: rgb(21, 134, 55);
}

.Categories select {
    height: 40px;
    font-size: 1.4rem;
}

.main-4 {
    margin-top: 30px;
}

.main-4 .row {
    margin-top: 30px;
}

.main-4-list-1 {
    width: 100%;
    height: 400px;
    background-image: url(../assets/product/product-home-1-img-1.jpg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    list-style: none;
    border: 1px solid rgb(190, 190, 190);
}

.main-4 ul:hover {
    border: 1px solid rgb(0, 255, 0);
    cursor: pointer;
    background-size: 110%;
    transition: 1s;
}

.main-4 ul li {
    display: flex;
    margin-bottom: 10px;
}

.main-4 ul li button {
    padding: 0px 15px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 15px;
    position: absolute;
    left: 0;
}

.main-4 ul .star span {
    font-size: 1.8rem;
    margin-right: 5px;
    margin-top: 240px;
}

.main-4 ul li a {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    margin-left: 45px;
}

.main-4 ul li a:hover {
    color: rgb(17, 180, 17);
}

.main-4 ul li h4 {
    font-size: 2rem;
    font-weight: 900;
    margin-right:10px;
    color: rgb(43, 180, 43);
    margin-left: 20px;
}

.star {
    margin-left: 25px;
}

.star-1 {
    margin-left: 25px;
    display: flex;
    font-size: 1.8rem;
}

.star-1 span{
    margin-right: 5px;
}

.main-4 ul li h5 {
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(179, 179, 179);
    text-decoration:line-through;
}

.main-4-list-2 {
    width: 100%;
    height: 400px;
    background-image: url(../assets/product/product-home-1-img-2.jpg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    list-style: none;
    border: 1px solid rgb(190, 190, 190);
}

.main-4-list-3 {
    width: 100%;
    height: 400px;
    background-image: url(../assets/product/product-home-1-img-3.jpg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    list-style: none;
    border: 1px solid rgb(190, 190, 190);
}

.main-4-list-4 {
    width: 100%;
    height: 400px;
    background-image: url(../assets/product/product-home-1-img-4.jpg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    list-style: none;
    border: 1px solid rgb(190, 190, 190);
}

.main-4-list-5 {
    width: 100%;
    height: 400px;
    background-image: url(../assets/product/product-home-1-img-5.jpg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    list-style: none;
    border: 1px solid rgb(190, 190, 190);
}

.main-4-list-6 {
    width: 100%;
    height: 400px;
    background-image: url(../assets/product/product-home-1-img-6.jpg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    list-style: none;
    border: 1px solid rgb(190, 190, 190);
}

.main-4-list-7 {
    width: 100%;
    height: 400px;
    background-image: url(../assets/product/product-home-1-img-7.jpg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    list-style: none;
    border: 1px solid rgb(190, 190, 190);
}

.main-4-list-8 {
    width: 100%;
    height: 400px;
    background-image: url(../assets/product/product-home-1-img-8.jpg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    list-style: none;
    border: 1px solid rgb(190, 190, 190);
}

#countdown {
    font-weight: 700;
    color: #fff;
    height: 200px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 30px;
    padding-left: 140px;
}

#countdown div {
    padding-top: 5px;
    text-align: center;
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 20px;
    font-size: 1.6rem;
    background-color: rgb(29, 138, 40);
    border-radius: 25px;
    margin-bottom: 5px;
}

#countdown div span {
    display: block;
    font-size: 1.2rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.countdown {
    font-weight: 700;
    color: #fff;
    height: 200px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 30px;
    padding-left: 140px;
}

.countdown div {
    padding-top: 5px;
    text-align: center;
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 20px;
    font-size: 1.6rem;
    background-color: rgb(29, 138, 40);
    border-radius: 25px;
    margin-bottom: 5px;
}

.countdown div span {
    display: block;
    font-size: 1.2rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.under-line {
    width: 40%;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
}

.number {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.number span {
    margin-left: 10px;
}

.number .btn {
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    background-color: white;
    color: black;
}

@media (max-width:1200px) {
    .container {
        width: 100%;
    }

    #countdown {
        padding-left: 110px;
    }

    .main-4 ul .star-1 span {
        margin-right: 5px;
    }

    .main-4-list-1 {
        padding-left: 10px;
    }

    .main-4-list-2 {
        padding-left: 10px;
    }

    .main-4-list-3 {
        padding-left: 10px;
    }

    .main-4-list-4 {
        padding-left: 10px;
    }

    .main-4-list-5 {
        padding-left: 10px;
    }

    .main-4-list-6 {
        padding-left: 10px;
    }

    .main-4-list-7 {
        padding-left: 10px;
    }

    .main-4-list-8 {
        padding-left: 10px;
    }

    .main-9 input {
        width: 280px;
    }
}

@media (max-width:990px) {
    #countdown {
        padding-left: 220px;
        height: 260px;
    }
    
    .main-4 ul li a {
        font-size: 2.5rem;
    }

    .main-4 ul li h4 {
        font-size: 3rem;
    }
    .main-4 ul li h5 {
        font-size: 2.3rem;
    }

    .main-4 ul .star span {
        font-size: 3rem;
        margin-top: 300px;
    }

    .main-4 ul .star-1 span {
        font-size: 3rem;
        margin-right: 5px;
    }

    .main-4-list-1 {
        padding-left: 50px;
        height: 480px;
    }

    .main-4-list-2 {
        padding-left: 50px;
        height: 480px;
    }

    .main-4-list-3 {
        padding-left: 50px;
        height: 480px;
    }

    .main-4-list-4 {
        padding-left: 50px;
        height: 480px;
    }

    .main-4-list-5 {
        padding-left: 50px;
        height: 480px;
    }

    .main-4-list-6 {
        padding-left: 50px;
        height: 480px;
    }

    .main-4-list-7 {
        padding-left: 50px;
        height: 480px;
    }

    .main-4-list-8 {
        padding-left: 50px;
        height: 480px;
    }

    .main-9 {
        height: 300px;
    }

    .main-9 ul li input {
        width: 230px;
    }

    .main-4 ul li a {
        margin-left: 80px;
    }
}


@media (max-width:768px) {

    .slide-1 {
        width: 100%;
    }

    .slide-2 {
        width: 100%;
    }

    .main-one ul {
        margin-left: 50px;
    }

    .main-5 ul {
        padding-left: 10px;
    }

    .main-7 ul {
        width: 60%;
    }

    table {
        width: 100%;
    }

    #node {
        position: relative;
        top: 0;
    }

    .main-3 {
        display: none;
    }

    .main-9 input {
        width: 150px;
    }

}

@media (max-width:662px){
    .main-4-list-1 {
        padding-left: 10px;
        height: 480px;
    }

    .main-4-list-2 {
        padding-left: 10px;
        height: 480px;
    }

    .main-4-list-3 {
        padding-left: 10px;
        height: 480px;
    }

    .main-4-list-4 {
        padding-left: 10px;
        height: 480px;
    }

    .main-4-list-5 {
        padding-left: 10px;
        height: 480px;
    }

    .main-4-list-6 {
        padding-left: 10px;
        height: 480px;
    }

    .main-4-list-7 {
        padding-left: 10px;
        height: 480px;
    }

    .main-4-list-8 {
        padding-left: 10px;
        height: 480px;
    }
}

@media (max-width:567px) {
    .countdown {
        padding-left: 300px;
    }
    
    .main-4-list-1 {
        padding-left: 100px;
        height: 480px;
    }

    .main-4-list-2 {
        padding-left: 100px;
        height: 480px;
    }

    .main-4-list-3 {
        padding-left: 100px;
        height: 480px;
    }

    .main-4-list-4 {
        padding-left: 100px;
        height: 480px;
    }

    .main-4-list-5 {
        padding-left: 100px;
        height: 480px;
    }

    .main-4-list-6 {
        padding-left: 100px;
        height: 480px;
    }

    .main-4-list-7 {
        padding-left: 100px;
        height: 480px;
    }

    .main-4-list-8 {
        padding-left: 100px;
        height: 480px;
    }

    .main-7 {
        height: 550px;
    }

    .main-7 ul {
        padding-left: 0px;
    }
}

@media (max-width:390px) {
    .main-one {
        height: 300px;
    }

    .main-one ul {
        padding-top: 50px;
        margin-left: 10px;
        width: 60%;
    }

    .main-one ul li p {
        font-size: 1.4rem;
    }

    .main-one ul li h4 {
        font-weight: 700;
    }

    .main-one ul li h5 {
        font-size: 1.6rem;
    }

    .main-one button {
        margin-top: 10px;
        font-size: 1.2rem;
    }

    .display-2 {
        font-size: 2rem;
    }

    .display-4 {
        font-size: 3rem;
        padding-top: 10px;
    }

    .slide-1 {
        height: 300px;
    }

    .slide-2 {
        height: 300px;
    }

    .main-2 {
        display: block;
        height: 480px;
    }

    .main-2 ul {
        padding-top: 20px;
    }

    .main-2-img-1 {
        width: 100%;
        height: 235px;
    }

    .main-2-img-2 {
        width: 100%;
        height: 235px;
        margin-top: 10px;
    }

    .main-4 ul {
        height: 500px;
        font-size: 2rem;
    }

    .main-4 ul li a {
        font-size: 3rem;
        margin-left: 90px;
    }

    .main-4 ul li h4 {
        font-size: 3rem;
        margin-left: 50px;
    }

    .main-4 ul li h5 {
        font-size: 2.5rem;
    }

    .star {
        margin-top: 80px;
        margin-left: 45px;
    }

    .star-1 {
        margin-left: 45px;
    }

    .main-4 ul .star span {
        font-size: 3rem;
        margin-right: 10px;
    }

    .main-4 ul .star-1 span {
        font-size: 3rem;
    }

    #countdown {
        padding-left: 240px;
        height: 260px;
    }

    .countdown {
        padding-left: 240px;
        height: 260px;
    }

    .main-5 {
        width: 100%;
    }

    .main-5 h4 {
        font-weight: 700;
        font-size: 3rem;
    }

    .main-7 ul {
        width: 90%;
    }
}




